

<h1>{{ 'hello' | transloco }}</h1>

<br><br>

<div *transloco="let t">
  <div>{{ t('hello') }}</div>
  <div>{{ t('apples' , {count: 10}  ) }}</div>
</div>
<br><br>
==========================================================

<div *transloco="let t">
  <div>{{ t('hello') }}</div>
  <div>{{ t('apples' , {count: apples}  ) }}</div>
</div>


<br><br>
========================================================

<div *transloco="let t">
  <div>{{ t('dashboard.title' ) }}</div>
  <div>{{ t('dashboard.conter' ) }}</div>
</div>

<br><br>

==============================================================
<div *transloco="let t; read: 'dashboard'">
  <div>{{ t('title' ) }}</div>
  <div>{{ t('conter' ) }}</div>
</div>


<br><br>

==========================================================
<div>
  <div>{{ 'dashboard.title' | transloco}}</div>
  <div>{{ 'dashboard.conter' | transloco }}</div>
</div>

<br><br><br><br>

==========================================================
<br><br>
{{teste}}
<br><br>
{{teste3}} <br>
{{teste2}}


<br><br><br><br>
<router-outlet></router-outlet>